<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fairfield Library System - System administration</title>
</head>
<body>
<header th:replace = "fragments/header :: header"></header>
<main>
    <h1>system administration</h1>
    <nav>
        <a href="/fairfieldLibrary/sysadmin/list">Manage Publishers</a> |
        <a href="#">Manage Books</a>|
        <a href="#">Manage Library Members</a>
    </nav>
    <h2>List of our publishers</h2>
    <section>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Publisher Name</th>
                <th>Publisher Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="publisher, counter : ${publishers}">
                <th th:text="${counter.count}"></th>
                <td th:text="${publisher.name}"></td>
                <td th:if="${publisher.address != null}">
                <p>
                    <span th:text="${publisher.address.street}"></span>
                </p>
                </td>
            </tr>

            </tbody>
        </table>
    </section>
</main>
</body>
</html>